
.background-rect {
    text-align: center;
    width: 30vw;
    height: 100%;
    


    display: table-cell;

    padding: 30px;
}


.form-button{
    margin-top: 10px;
    width: 100%;
}

.input-login {
    width: 100%;
}



.inputs{
    margin-bottom: 30px;
    text-align: left;
    text-decoration-color: black;
}


@media screen and (max-width: 1224px){
    .background-rect{
        background: wheat;
        
        width: 50vw;
        height: 50vw;
    }
}