/*This is the styling for the header component of the main page*/

.headerInfoContainer{

    padding: 10px;

    text-align: left;

    font-size: 3vh;

    width: 100%;
}

.headerContainer{
    display: flex;
    justify-content: space-between;

    color: white;

    text-align: center;
    font-size: 10vh;

    width: 100%;
    height: 10vh;
    background: #1f1f1f;
}

.headerTitle{
    width: 15%;
    font-size: 3vw;
}

.headerButtons{
    text-align: right;
    width: 15%;
    padding: 10px;
    height: 100%;


}