/*This is the styling for the header component of the main page*/

.headerInfoContainer{
    padding: 15px;
    text-align: left;

    font-size: 3vh;

    width: 38%;
}

.headerContainer{
    display: flex;
    color: white;

    text-align: center;
    font-size: 10vh;

    width: 100vw;
    height: 20vh;
    background: rgba(0,0,0,.5);
}