.navbar-top {
	border: none;
	background-color: inherit;
	width: 50%;
}

.navbar-text {
	text-decoration: none !important;
	color: white !important;
	max-width: 50vw;
}

.container {
	max-width: 50vw !important;
}
