html {
  background: white;
  display:  flex;
  justify-content: center;
}


.loginContainer{
  color: white;

  display: block;
  text-align: center;
  font-family: 'Open Sans', sans-serif;

  


  height: 100vh;
  padding-top: 10vh;
}
