

.userContainer{
    background: #F2FDFF;

    width: 50vw;
    height: 80vh;
}

.requestContainer{
    padding: 30px;
    height: 100px;
    background: white;
    color: gray;

    border-radius: 5px;
    box-shadow: 3px 3px 14px 0px rgba(0,0,0,0.3);

    margin: 10px;
    font-size: 3vh;
}

.requestContainer:checked{
    background-color: red;
}
.requestContainer:hover{
	color: black;
    border-left: 7px solid black;
    outline: 2px;
    transform: scale(1.01);
    text-shadow: -1px 1px 8px #ffc, 1px -1px 8px #fff;

}